// classes-here-wont-class-with-other-page-specific-classes-with-same-name
// cant use hyphens in these names :/
.test_class {
    background-color: hotpink;
    list-style-type: none;
    padding: 20px;

}